<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coffee machine</title>
</head>
<body>
<div align="center">
  <h2>Coffee machine</h2>
  <h3>Quantity of ingredients</h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>Coffee, mg</th>
      <th th:text="${coffeeMachine.coffee}"></th>
      <th>
        <form action="#" th:action="@{/updateCoffee}" th:object="${coffeeMachine}" method="post">
          <input type="number" th:field="*{coffee}"/>
          <input type="submit" value="Add">
        </form>
      </th>
    </tr>
    <tr>
      <th>Water, mg</th>
      <th th:text="${coffeeMachine.water}"></th>
      <th>
        <form action="#" th:action="@{/updateWater}" th:object="${coffeeMachine}" method="post">
          <input type="number" th:field="*{water}"/>
          <input type="submit" value="Add">
        </form>
      </th>
    </tr>
    <tr>
      <th>Milk, mg</th>
      <th th:text="${coffeeMachine.milk}"></th>
      <th>
        <form action="#" th:action="@{/updateMilk}" th:object="${coffeeMachine}" method="post">
          <input type="number" th:field="*{milk}"/>
          <input type="submit" value="Add">
        </form>
      </th>
    </tr>
  </table>

  <h2>Drinks</h2>
  <h3><a href="/new">Create new recipe</a></h3>
  <table border="1" cellpadding="5">
    <tr>
      <!--            <th>ID</th>-->
      <th>Drink</th>
      <th>Coffee, mg</th>
      <th>Water, mg</th>
      <th>Milk, mg</th>
      <th>Cooking time, ms</th>
      <th>Number of orders</th>
      <th>Remove</th>
      <th>Order</th>
    </tr>
    <tr th:each="drink : ${listDrink}">
      <!--                <td th:text="${drink.id}"></td>-->
      <td th:text="${drink.name}"></td>
      <td th:text="${drink.coffee}"></td>
      <td th:text="${drink.water}"></td>
      <td th:text="${drink.milk}"></td>
      <td th:text="${drink.cooking_time}"></td>
      <td th:text="${drink.orders}"></td>
      <td>
        <a th:href="@{/delete?id={id}(id=${drink.id})}">Delete recipe</a>
      </td>
      <td>
        <a th:href="@{/order?id={id}(id=${drink.id})}">Order</a>
      </td>
    </tr>
  </table>
</div>
<br>
<div align="center">
  <h2>Action log</h2>
  <textarea th:text="${logText}" rows="30" cols="45"></textarea>
</div>
</body>
</html>